parameters:
	ignoreErrors:
		-
			message: '#^Only booleans are allowed in a negated boolean, array\|bool\|float\|int\|string\|null given\.$#'
			identifier: booleanNot.exprNotBoolean
			count: 1
			path: src/Commands/BrunoClearCommand.php

		-
			message: '#^Only booleans are allowed in an if condition, array\|bool\|float\|int\|string\|null given\.$#'
			identifier: if.condNotBoolean
			count: 1
			path: src/Commands/BrunoClearCommand.php

		-
			message: '#^Parameter \#1 \$path of function base_path expects string, array\|float\|int\<min, \-1\>\|int\<1, max\>\|string\|true given\.$#'
			identifier: argument.type
			count: 1
			path: src/Commands/BrunoClearCommand.php

		-
			message: '#^Method ShahGhasiAdil\\LaravelBrunoGenerator\\Commands\\BrunoGenerateCommand\:\:displayDryRun\(\) has parameter \$files with generic class Illuminate\\Support\\Collection but does not specify its types\: TKey, TValue$#'
			identifier: missingType.generics
			count: 1
			path: src/Commands/BrunoGenerateCommand.php

		-
			message: '#^Method ShahGhasiAdil\\LaravelBrunoGenerator\\Commands\\BrunoGenerateCommand\:\:displayDryRun\(\) has parameter \$structure with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Commands/BrunoGenerateCommand.php

		-
			message: '#^Only booleans are allowed in an if condition, array\|bool\|float\|int\|string\|null given\.$#'
			identifier: if.condNotBoolean
			count: 7
			path: src/Commands/BrunoGenerateCommand.php

		-
			message: '#^Only booleans are allowed in an if condition, array\|bool\|float\|int\|string\|null given\.$#'
			identifier: if.condNotBoolean
			count: 12
			path: src/Commands/Concerns/BuildsBrunoCollection.php

		-
			message: '#^Parameter \#2 \$string of function explode expects string, array\|float\|int\<min, \-1\>\|int\<1, max\>\|string\|true given\.$#'
			identifier: argument.type
			count: 8
			path: src/Commands/Concerns/BuildsBrunoCollection.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 2
			path: src/DTO/BrunoRequest.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 1
			path: src/DTO/RequestBody.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 5
			path: src/Services/CollectionOrganizerService.php

		-
			message: '#^Only booleans are allowed in a negated boolean, mixed given\.$#'
			identifier: booleanNot.exprNotBoolean
			count: 1
			path: src/Services/CollectionOrganizerService.php

		-
			message: '#^Unable to resolve the template type TKey in call to function collect$#'
			identifier: argument.templateType
			count: 1
			path: src/Services/CollectionOrganizerService.php

		-
			message: '#^Unable to resolve the template type TValue in call to function collect$#'
			identifier: argument.templateType
			count: 1
			path: src/Services/CollectionOrganizerService.php

		-
			message: '#^Variable \$parts in empty\(\) always exists and is not falsy\.$#'
			identifier: empty.variable
			count: 1
			path: src/Services/CollectionOrganizerService.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 2
			path: src/Services/FileWriterService.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 2
			path: src/Services/FormRequestParserService.php

		-
			message: '#^Only booleans are allowed in a negated boolean, mixed given\.$#'
			identifier: booleanNot.exprNotBoolean
			count: 1
			path: src/Services/FormRequestParserService.php

		-
			message: '#^Only booleans are allowed in an if condition, int\|false given\.$#'
			identifier: if.condNotBoolean
			count: 3
			path: src/Services/FormRequestParserService.php

		-
			message: '#^Parameter \#1 \$name of method ReflectionClass\<object\>\:\:getMethod\(\) expects string, string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Services/FormRequestParserService.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 1
			path: src/Services/RouteDiscoveryService.php

		-
			message: '#^Parameter \#1 \$value of function collect expects Illuminate\\Contracts\\Support\\Arrayable\<\(int\|string\), mixed\>\|iterable\<\(int\|string\), mixed\>\|null, Illuminate\\Routing\\RouteCollectionInterface given\.$#'
			identifier: argument.type
			count: 1
			path: src/Services/RouteDiscoveryService.php

		-
			message: '#^Unable to resolve the template type TKey in call to function collect$#'
			identifier: argument.templateType
			count: 1
			path: src/Services/RouteDiscoveryService.php

		-
			message: '#^Unable to resolve the template type TValue in call to function collect$#'
			identifier: argument.templateType
			count: 1
			path: src/Services/RouteDiscoveryService.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 10
			path: src/Services/RouteFilterService.php

		-
			message: '#^Call to function in_array\(\) requires parameter \#3 to be set\.$#'
			identifier: function.strict
			count: 2
			path: src/Services/RouteNormalizerService.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 10
			path: src/Services/RouteNormalizerService.php

		-
			message: '#^Only booleans are allowed in a negated boolean, mixed given\.$#'
			identifier: booleanNot.exprNotBoolean
			count: 6
			path: src/Services/RouteNormalizerService.php

		-
			message: '#^Only booleans are allowed in an if condition, mixed given\.$#'
			identifier: if.condNotBoolean
			count: 8
			path: src/Services/RouteNormalizerService.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 1
			path: src/ValueObjects/FileContent.php
